<!-- product.component.html -->
<div class="product-container">
    <div class="product-image">
      <img src="path_to_your_image.jpg" alt="Product Image">
    </div>
    <div class="product-details">
      <h1>{{ product.name }}</h1>
      <div class="rating">
        <span class="stars">
          <i class="fas fa-star" *ngFor="let star of [1,2,3,4,5]"></i>
        </span>
        <span class="rating-value">{{ product.rating }}</span>
        <span class="reviews">{{ product.reviews }} Customer reviews</span>
      </div>
      <div class="price">
        <span class="current-price">KSh {{ product.price }}</span>
        <span class="original-price">KSh{{ product.originalPrice }}</span>
        <span class="discount">(-{{ product.discount }}%)</span>
      </div>
      <div class="product-options">
        <div class="color">
          <span>Color:</span>
          <button class="color-option">{{ product.color }}</button>
        </div>
        <div class="size">
          <span>Size:</span>
          <button class="size-option">{{ product.size }}</button>
        </div>
      </div>
      <div class="delivery-info">
        <i class="fas fa-truck"></i>
        <span>{{ product.deliveryInfo }}</span>
      </div>
      <div class="quantity">
        <span>Quantity</span>
        <button (click)="decrementQuantity()">-</button>
        <input type="number" [value]="quantity" readonly>
        <button (click)="incrementQuantity()">+</button>
      </div>
      <div class="actions">
        <button class="add-to-cart">Add to Cart</button>
        <button class="buy-now">Buy Now</button>
        <button class="favorite"><i class="far fa-heart"></i></button>
        <button class="share"><i class="fas fa-share"></i></button>
      </div>
    </div>
  </div>