<!-- top bar section start -->
<div class="filter-container">
    <button class="filter-button active">Popular</button>
    <button class="filter-button">Top Sale</button>
    <button class="filter-button">Latest</button>
    <div class="dropdown">
      <button class="filter-button dropdown-toggle" type="button" id="priceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Price <i class="fa fa-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="priceDropdown">
        <li><a class="dropdown-item" href="#">Low to High</a></li>
        <li><a class="dropdown-item" href="#">High to Low</a></li>
      </ul>
    </div>
    <div class="pagination">
      <span class="current-page">1 / 278</span>
      <button class="pagination-button prev"><i class="fa fa-chevron-left"></i></button>
      <button class="pagination-button next"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
  
 <!-- top bar section end -->